html{
	color: #333;
}

#main{
	display:flex;
	justify-content: center;
}

.section{
	flex:1;
	padding: 0 10px;
	//display: none;
	flex-basis:0;
	flex-grow:0;
	-webkit-transition: flex-grow 0.1s;
	padding:0;
	overflow:hidden;
	max-width:33%;
}

.section.active{
	display: block;
	flex-grow:1;
	padding: 0 10px;
}

.item{
	padding:5px;
	cursor: pointer;
	height:16px;
	line-height:16px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    color:#333;
	text-decoration: none;
}

.item > *{
	vertical-align: middle;

}

.item a{

}

.item .button{
	height: 16px;
	min-width: 16px;
	padding: 0;
	background: transparent;
}

.item .button img{
	height: 16px;
	width: 16px;
}

.item .button.hidden{
	display: none;
}

.item:hover .button.hidden{
	display: inline-block;
}

.item .title{
	flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item:hover{
	background: #eee;
	color:#333;

}

.supertab-icon{
	margin-right: 5px;

}

.button{
	border:none;
	cursor: pointer;
}

#section-control{
	text-align: center;
}

.section-control-button{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-right-width: 0;
    border-bottom-width: 3px;
    padding-bottom: 5px;
    vertical-align: 2px;
    padding-top: 3px;
}

.section-control-button.active{
    background: #eee;
    color: #333;
    padding-bottom: 5px;
    border-bottom-width: 1px;
    padding-top: 5px;
    box-shadow: inset 0 5px 10px #ddd;
    vertical-align: 0px;
}

.section-control-button:last-child{
	border-right-width: 1px;
}

