html{
	color: #333;
}

#main{
	display:flex;
	justify-content: space-around;
}

.section{
	flex:1;
	padding: 0 10px;
	display: none;
}

.section.active{
	display: block;
}

.item{
	padding:5px;
	cursor: pointer;
	height:16px;
	line-height:16px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    color:#333;
	text-decoration: none;
}

.item > *{
	vertical-align: middle;

}

.item a{

}

.item .button{
	height: 16px;
	min-width: 16px;
	padding: 0;
}

.item .button img{
	height: 16px;
	width: 16px;
}

.item .button.hidden{
	display: none;
}

.item:hover .button.hidden{
	display: inline-block;
}

.item .title{
	flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item:hover{
	background: #eee;
	color:#333;

}

.supertab-icon{
	margin-right: 5px;

}

.button{
	border:none;
	cursor: pointer;
}

#section-control{
	text-align: center;
}

.section-control-button{
	display: inline-block;
	padding: 5px;
	cursor: pointer;
	border: 1px solid #333;
	border-right-width: 0;
}

.section-control-button.active{
	background: #333;
	color:white;
}

.section-control-button:last-child{
	border-right-width: 1px;
}

